| var gulp = require('gulp'),
| gutil = require('gulp-util')
| minifycss = require('gulp-minify-css'),
| concat = require('gulp-concat'), 

if type.less
	| cssType = require('gulp-less');
else if type.stylus
	| cssType = require('gulp-stylus');
else 
	| cssType = require('gulp-sass');
